.csdp-ui-tree-node,.node-icon {
  background-image: url(../images/32px.png);
}
.csdp-ui-tree-node{
  /*background-image: url(../images/32px.png);*/
  background-repeat: repeat-y;
  min-width: 24px;
  min-height: 24px;
  background-position: -292px -4px;
}
.csdp-ui-tree-node {
  margin-bottom: 0;
  /*padding-left: 24px;*/
  padding-left: 0;
}
.csdp-ui-tree-node-last {
  /*background-image: none;*/
  background: 0 0;
}
/*.csdp-ui-tree-nodes .csdp-ui-tree-children {
  padding-left: 24px;
}*/
.csdp-ui-tree li{
  list-style-type: none;
}
.csdp-ui-tree ul {
  margin: 0;
}
.csdp-ui-tree .active {
  background-color: #beebff;
}
.csdp-ui-tree .dropdown-menu {
  top: 24px;
}
.csdp-ui-tree-node a{
  cursor: pointer;
  display: inline-block;
}
.csdp-ui-tree .dropdown-menu a{
  text-align: left;
}
.node-icon {
 /* background-image: url(../images/32px.png);*/
  background-repeat: no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  background-position: -100px -4px;
      vertical-align: top;
}
.csdp-ui-tree-node >.open {
  background-position: -132px -4px;
}

.node-icon-line {
  background-position: -75px -4px;
}
.csdp-ui-tree-children {
  padding-left: 24px;
}

/*.node-icon {
  background-image: url(../images/tree.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  background-position: 4px -90px;
  vertical-align: top;
}
.csdp-ui-tree-node >.node-icon-root {
  background-position: 4px -90px;
}
.csdp-ui-tree-node >.root-open {
  background-position: 4px -125px;
}
.node-icon-children {
  background-position: -35px -90px;
}
.csdp-ui-tree-node >.open {
  background-position: 4px -125px;
}
.node-icon-line {
  background-position: -68px -125px;
}
.node-icon-last-line {
  background-position: -68px -90px;
}*/


