<form role="form" ng-submit="btnSubmit()">
  <div class="form-group">
    <label for="id">登录名</label>
    <input type="text" class="form-control" id="id" placeholder="登录名" ng-model="user.id">
  </div>
  <div class="form-group">
    <label for="name">姓名</label>
    <input type="text" class="form-control" id="name" placeholder="姓名" ng-model="user.name">
  </div>
  <div class="form-group">
    <label for="sex">性别</label>
    <input type="text" class="form-control" id="sex" placeholder="性别" ng-model="user.sex">
  </div>
  <div class="form-group">
    <label for="phone">电话</label>
    <input type="text" class="form-control" id="phone" placeholder="电话" ng-model="user.phone">
  </div>
  <div class="form-group">
    <label for="address">地址</label>
    <input type="text" class="form-control" id="address" placeholder="地址" ng-model="user.address">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>